# add .env file in ./backend
PORT=<node server>
CORS_ORIGIN=<frontend-dev-url,frontend-test-url,frontend-prod-url>
MONGODB_URI=<mongodb atlas cluster compass url>
DB_ENV=<TEST or PROD>

ACCESS_TOKEN_SECRET=<placeholder-test>
ACCESS_TOKEN_EXPIRY=1d

REFRESH_TOKEN_SECRET=<placeholder-test>
REFRESH_TOKEN_EXPIRY=10d